In [1]:
# Import Dependencies
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Create an engine instance
engine = create_engine('postgresql://team_members:us_pollution@localhost:5432/US_Pollution_Project')

In [3]:
# Connect PostgreSQL "Master" Database
dbConnection = engine.connect();

In [4]:
# Read data from PostgreSQL database table and load into a DataFrame instance
full_df = pd.read_sql("select * from master", dbConnection)

In [5]:
# Display full_df
full_df.head(10)

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,"Aberdeen, SD",10100,2012,123,104,19,0,0,0,0,77,53,28,0,0,0,109,14
1,"Aberdeen, WA",10140,2012,366,348,18,0,0,0,0,81,42,20,0,0,0,366,0
2,"Adjuntas, PR",10260,2012,77,74,3,0,0,0,0,66,36,18,0,0,0,77,0
3,"Adrian, MI",10300,2012,243,142,76,21,4,0,0,187,101,48,0,0,174,69,0
4,"Akron, OH",10420,2012,366,186,173,6,1,0,0,164,78,50,81,0,98,187,0
5,"Albany, GA",10500,2012,360,254,104,2,0,0,0,124,63,38,0,0,0,359,1
6,"Albany, OR",10540,2012,366,319,47,0,0,0,0,91,53,23,0,0,0,366,0
7,"Albany-Schenectady-Troy, NY",10580,2012,366,294,64,8,0,0,0,143,60,39,1,0,272,93,0
8,"Albuquerque, NM",10740,2012,366,100,241,23,1,1,0,291,96,60,0,2,228,105,31
9,"Alexandria, LA",10780,2012,362,177,185,0,0,0,0,88,66,52,0,0,0,362,0

In [6]:
# Check Record Count (should = 5680 rows)
len(full_df.index)

5680

In [7]:
# Determine Top 5 Worst AQI Cities
Worst_AQI = full_df.groupby("CBSA")["Median AQI"].mean().sort_values(ascending=False)
Worst_AQI.head(5)

CBSA
Riverside-San Bernardino-Ontario, CA    94.909091
Phoenix-Mesa-Scottsdale, AZ             86.000000
Bakersfield, CA                         81.000000
Los Angeles-Long Beach-Anaheim, CA      77.818182
Visalia-Porterville, CA                 77.454545
Name: Median AQI, dtype: float64

In [8]:
# Determine Top 5 Best AQI Cities
Best_AQI = full_df.groupby("CBSA")["Median AQI"].mean().sort_values(ascending=True)
Best_AQI.head(5)

CBSA
Danville, VA       3.000000
Houghton, MI      10.100000
Los Alamos, NM    10.100000
Jamestown, ND     10.333333
Moscow, ID        10.500000
Name: Median AQI, dtype: float64